<!DOCTYPE html>
<html>
  <head>
    @include '_layout/head'
    @include '_layout/_partials/_twitter_bootstrap'
    @include '_layout/_partials/_other_scripts'
    @include '_layout/_partials/_other_styles'
    <!-- devider  -->
    @include '_layout/_partials/_main_styles'
    @include '_layout/_partials/_main_scripts'
  </head>

  <body>
    <h1 class="title">${page_title}</h1>

    <div>

      <a href="/predictions" class="btn btn-secondary">
        to predictions
      </a>

      <button
        hx-get="/greets/random"
        hx-trigger="click"
        hx-target="#rand-name"
        hx-swap="innerHTML"
        class="btn btn-outline-secondary"
      >
        Get random greeting
      </button>
    </div>

    <div id="rand-name">nothing &hellip;</div>

<!--     <div id="interval" hx-get="/ticks"  hx-trigger="every 2s" hx-target=".single-ticks"  hx-swap="innerHTML">
        <div class="single-ticks"></div>
    </div> -->

    @include '_layout/footer'
  </body>
</html>
